@import "tailwindcss";

@theme {
  --color-notion-bg: var(--notion-bg);
  --color-notion-sidebar: var(--notion-sidebar);
  --color-notion-hover: var(--notion-hover);
  --color-notion-border: var(--notion-border);
  --color-notion-text: var(--notion-text);
}

:root {
  --notion-bg: #ffffff;
  --notion-sidebar: #fbfbfa;
  --notion-hover: #efefed;
  --notion-border: #e9e9e7;
  --notion-text: #37352f;
}

.dark {
  --notion-bg: #191919;
  --notion-sidebar: #202020;
  --notion-hover: #2f2f2f;
  --notion-border: #373737;
  --notion-text: #d4d4d4;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--notion-text);
  background-color: var(--notion-bg);
  transition: background-color 0.3s, color 0.3s;
}

/* Fix lỗi lật thẻ 3D */
.perspective-1000 { perspective: 1000px; }
.preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; -webkit-backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }

/* Scrollbar đẹp */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: var(--notion-border); border-radius: 10px; }