@import "tailwindcss";

@theme {
  --color-notion-bg: #ffffff;
  --color-notion-sidebar: #fbfbfa;
  --color-notion-hover: #efefed;
  --color-notion-border: #e9e9e7;
  --color-notion-text: #37352f;
}

/* Fix lỗi lật thẻ */
.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}